@model Apartment

@{
    ViewData["Title"] = " | Apartment Details";
}

<link rel="stylesheet" type="text/css" href="/css/style.css">

<div class="container">
    <div class="row">

        <div class="col-6">

            <div class="card">
                <img class="card-img-top" src=" @("/images/"+ Model.ApartmentProfilePicture.ApartmentName + "/" + Model.ApartmentProfilePicture.ImageName)" alt="@Model.ApartmentProfilePicture.ApartmentName">
                <div class="card-body">
                    <h4 class="card-title">@Model.Name</h4>
                    <p class="card-text">@Model.ShortDescription</p>
                </div>
            </div>

        </div>

        <div class="col-6">

            <form id="reviewForm">
              <div class="form-group">
                <label for="comment">My Review:</label>
                <input type="hidden" value="@Model.ApartmentId" id="apartmentId" />
                    <textarea class="form-control" rows="5" id="review" @(User.Identity.IsAuthenticated ? "" : "disabled")>@ViewData["Review"]</textarea>
              </div>
                <button type="submit" class="btn btn-primary" @(User.Identity.IsAuthenticated ? "" : "disabled")>Submit</button>
            </form>

        </div>

    </div>


</div>





<section class="gallery min-vh-50">
    <div class="container-lg">
        <div class="row gy-4 row-cols-1 row-cols-sm-2 row-cols-md-3">
            @foreach (ApartmentAlbum ap in Model.ApartmentAlbum)
            {
                <div class="col">
                    <img src="@("/images/"+ ap.Apartment.ApartmentProfilePicture.ApartmentName + "/" + ap.Picture.ImageName)" class="gallery-item" alt="gallery">
                </div>
            }
        </div>
    </div>
</section>


<!-- Modal -->
<div class="modal fade" id="gallery-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="@("/images/"+Model.ApartmentAlbum.Select(p=>p.Apartment.Name==p.Picture.ApartmentName?p.Picture.ImageName:null))" class="modal-img" alt="modal img">
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/js/site.js"></script>

    <script>
        $("#reviewForm").submit(function(e) {
          e.preventDefault();
            var apartmentId = $("#apartmentId").val();
            var review = $("#review").val();

          $.ajax({
            type: "POST",
            url: "/Apartment/PostReview",
            data: { apartmentId:apartmentId,  review: review },
            success: function(data) {
              alert("Review posted successfully!");
            },
            error: function(data) {
              alert("An error occurred while posting the review.");
            }
          });
        });
    </script>
}
