@model IEnumerable<Apartment>
@{
    ViewData["Title"] = " | Home Page";
}







<!-- Page Content-->
<section class="pt-4">
    <div class="container px-lg-5">
        <!-- Page Features-->
        <div class="row gx-lg-5">

            @foreach (Apartment a in Model)
            {
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-collection"></i></div>


                           
                           <a asp-action="Details" asp-controller="Apartment"
                           asp-area="" asp-route-id="@a.ApartmentId"
                           asp-route-slug="@a.Name.Slug()">
                           <img class="card-img-top" src="@("/images/"+a.ApartmentProfilePicture.ApartmentName + "/" + a.ApartmentProfilePicture.ImageName)" alt="Card image cap" id="image1">

                           </a>

                           
                            <h2 class="fs-4 fw-bold">@a.Name</h2>
                            <p class="mb-0">@a.ShortDescription</p>
                            <br><br>
                            <form method="post" asp-action="Reservation" asp-controller="Reservation"
                              asp-area="">
                                <button type="submit" name="id" value="@a.ApartmentId"
                                    class="btn btn-primary">

                                    Book now!
                                </button>
                            </form>

                        </div>
                    </div>
                </div>
            }


        </div>
    </div>
</section>

@*<!-- Footer-->
    <footer class="py-2 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Domagoj Sliepčević 2022</p></div>
    </footer>*@